<html>
<head>
<link rel="stylesheet" href="/public/assets/style.css">
<link rel="icon" href="/favicon.png" type="image/png">
</head>
<body>
	<h1>
		{{ .title }}
	</h1>
  <p>
    <a href="/">Start</a>
  </p>
</body>
</html>
